i{
    transform: scale(20,20);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.say{
    display: none;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
}
.number{
    border: 1px solid #fff;
    padding: 15px;
}
.end{
    display: none;
    flex-direction: column;
    text-align: center;
}